/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Baskerville', serif;
    line-height: 1.6;
    background-color: #c2e2f5;

}

/* Header */
header {
    padding: 10px 0;
    background-color: #60c1eb;
}

/*  navigation bar  */
nav {
    display: flex;
    align-items: center;
    padding-left: 15px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
    border-radius: 4px;
}

/* Logo Style */
.logo img {
    max-width: 50px;
    height: auto;
    display: block;
}


/************************* 
* Style for home page 
**************************/


.hero {
    position: relative;
    height: 45vh;
    width: 100%;
}

.hero-content {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    z-index: 10;
    width: 100%;
}

/* Style for videos of the webside */
#myVideo {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: rgb(3, 3, 102);
    font-family: 'Baskerville', serif;

}

.hero p {
    font-size: 1.2em;
    margin-bottom: 30px;
    color: rgb(5, 5, 118);
}

.hero .btn {

    background-color: #000080;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    border-radius: 4px;
}

.hero .btn:hover {
    background-color: #e43f00;
}

/*Feature sections on home page to creates a responsive grid layout with 3 equal-width columns */
.features {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 50px 20px;
}

.feature-box {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.feature-box img {
    width: 100%;
    border-radius: 8px;
    max-height: 200px;
    object-fit: cover;
    z-index: -1;
}

.feature-box h2 {
    margin-top: 15px;
    font-size: 1.5em;
}

.feature-box p {
    margin: 10px 0;
}

.feature-box .btn {
    background-color: #000080;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
}

.feature-box .btn:hover {
    background-color: #555;
}

/* Footer */
footer {

    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 50px;

}

/***************************************
* Style For Tickets and Passes Page 
****************************************/

/* Ticket Options Section */
.ticket-options {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 50px 20px;
}

.ticket-options h3 {
    font-size: 24px;
    margin-bottom: 15px;
    text-align: center;

}

/* Style for Group Tickets and Passes section*/
.ticket-box1 {
    background: #a9d9f3;
    border-radius: 8px;
    padding: 20px;
    width: 35%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;

}

/* Style for Daily Ticket section*/
.ticket-box2 {
    background: #a9d9f3;
    border-radius: 8px;
    padding: 20px;
    width: 20%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;

}

.ticket-details ul li {
    margin-left: 0;
    font-size: 14px;
    margin-bottom: 10px;
}

.ticket-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Style for sections in Group Tickets and Passes */
.pass-box1 {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 45%;
    background: #74bee9;
    border-radius: 8px;
    padding: 20px;
    padding-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-bottom: 20px;
}

/* Style for section in Daily Ticket */
.pass-box2 {
    display: flex;
    flex-wrap: wrap;
    text-align: left;
    width: 100%;
    background: #74bee9;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.pass-box1 a, .pass-box2 a {
    display: block; 
    text-align: center; 
    margin: 0 auto; 
    padding: 10px 10px; 
}

.pass-box1, .passbox2 h4 {
    font-size: 15px;
    margin-bottom: 10px;
}

.pass-box1, .passbox2 ul {
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 30px;
}

.pass-box1, .passbox2 ul li {
    margin-left: 0;
    font-size: 14px;
    margin-bottom: 10px;
    
}

/*********************************
* Style for park-hours-map page
**********************************/

.main-content {
    display: flex;
    justify-content: space-between;
    padding: 40px;
    height: 100vh;

}

/* Container for calender*/
.calendar-container {
    flex: 3;
    max-width: 65%;
    padding-right: 20px;
    overflow: auto;

}

/* Header for the calendar */
.calendar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

/* Style for the month name */
#month-name {
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

/* Style for the navigation buttons (previous and next) for months */
.nav-button {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    color: #333;
    transition: color 0.3s;
}

.nav-button:hover {
    color: #ff9800;
}

/* Calendar grid with 7 columns for the days of the week*/
.calendar-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    padding: 10px;
    justify-items: center;
}

/* Style for each day cell */
.day {
    background-color: #fff;
    padding: 5px;
    border-radius: 8px;
    border: 1px solid #ddd;
    text-align: center;
    box-sizing: border-box;
}

/* Style for the date number */
.date {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 5px;
}

/* Style for the time and clock icon container */
.time-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 0.9em;
}

/* Style for the clock icon */
.clock-icon {
    width: 16px;
    height: 16px;
}

/* Style for the operating hours text */
.hours-text {
    margin: 0;
}

/* Container for Map */
.map-container {
    flex: 1;
    max-width: 35%;
    text-align: center;
    padding: 20px;
}

.map-container .map {
    width: 100%;
    max-width: 400px;
    height: 300px;
    margin-bottom: 20px;
}

/****************************************
* Style for Rides and Experiences page
*****************************************/

/* Rides, Dining, and Shops Section */
.sections {
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    flex-wrap: wrap;
}

.section-box {
    width: 30%;
    text-align: center;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
}

.section-box img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

.section-box h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-decoration: none;
}

.section-box hr {
    width: 50px;
    margin: 10px auto;
    border: 2px solid #333;
}

.section-box p {
    font-size: 1rem;
    margin-bottom: 20px;
}

.learn-more {
    padding: 10px 15px;
    background-color: #000080;
    color: white;
    border: none;
    font-size: 0.8rem;
    cursor: pointer;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 10px;

}

.learn-more:hover {
    background-color: #444;
}


/*****************************
Style for Contact us page
*******************************/

.message img {
    width: 200px;
    margin: 10px auto;
    padding: 10px;
    display: block;
    max-width: 100%;

}

.message h1 {
    font-size: 2.0rem;
    margin-top: 25px;
    margin-bottom: 5px;
    text-align: center;
}

.message p {
    font-size: 1.2rem;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.message-for-confirmation {

    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    text-align: left;
    margin-top: 35px;

}

/* Contact Form Section */
.contact-form {
    padding: 40px 20px;
    background-color: #c2e2f5;
}

.form-container {
    max-width: 900px;
    margin: 0 auto;
    background-color: #c2e2f5;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.form-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 1rem;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    resize: vertical;
}

button {
    padding: 12px 20px;
    background-color: #000080;
    color: white;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    width: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #444;
}


/*********************************
Style for Rides Page
***********************************/

.rides-heading {
    text-align: center;
}

.rides-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.ride-box {
    display: flex;
    align-items: center;
    width: 48%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.ride-box:hover {
    transform: scale(1.05);
}

.ride-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

.ride-info {
    padding: 15px;
    flex: 1;
}

.ride-info h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.ride-info p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.ride-info strong {
    color: #333;
}

/*************************************
 * Style for Dining and Shop Layout 
 *************************************/

.dining-container,
.shop-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

/* Dining Box and Shop Box for 2 items per row */
.dining-box,
.shop-box {
    display: flex;
    align-items: center;
    width: 48%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.dining-box:hover,
.shop-box:hover {
    transform: scale(1.05);
}

/* Image Styling for Dining and Shop Items */
.dining-img,
.shop-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
}

/* Information Styling */
.dining-info,
.shop-info {
    padding: 15px;
    flex: 1;
}

.dining-info h3,
.shop-info h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.dining-info p,
.shop-info p {
    font-size: 14px;
    color: #555;
    margin: 5px 0;
}

.dining-info strong,
.shop-info strong {
    color: #333;
}

/*********************************
* Style for ticket-purchase page
**********************************/

.ticket-purchase {
    max-width: 800px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ticket-purchase h1 {
    text-align: center;
    color: #333;
}

.ticket-options,
.ticket-summary,
.customer-details {
    margin-bottom: 20px;
}

.quantity,
.ticket-type,
.customer-details {
    width: 45%;
}

.customer-details textarea {
    width: 30ch;
    box-sizing: border-box;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/*******************************************
* style for tickets-purchase-confirmation
********************************************/

.info {
    font-family: 'Arial', sans-serif;
    background-color: #74bee9;
    border-radius: 10px; 
    padding: 20px; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 400px; 
    margin: 0 auto; 
  }
  
  /* Styling for each line of information */
  .info p {
    display: flex;
    justify-content: flex-start; 
    align-items: center; 
    margin: 10px 0; 
    font-size: 16px; 
    line-height: 1.5; 
    color: #333; 
  }
  
  /* Styling for the labels */
  .info .label {
    font-weight: bold; 
    color: #333; 
    width: 220px; 
    text-transform: capitalize; 
    margin-right: 20px; 
  }
  
  .info span {
    color: #333; 
    font-weight: normal; 
    font-style: italic; 
    transition: color 0.3s ease; 
    width: 200px;
  }
  

/* Media Queries for Responsiveness */
@media (max-width: 768px) {

    .features {
        grid-template-columns: 1fr;
    }

    .hero h1 {
        font-size: 2em;
    }

    .hero p {
        font-size: 1em;
    }

    nav ul {
        flex-direction: column;
        padding: 10px 0;
    }

    nav ul li {
        margin: 10px 0;
    }

    nav ul li a {
        font-size: 16px;
    }

   
    /* Styles for ticket&passes Page */

    .ticket-options {
        flex-direction: column;
        align-items: center;
    }

    .ticket-box2 {
        max-width: 100%;
        width: 45%;
    }

    .ticket-box1 {
        max-width: 100%;
        width: 45%;
    }

    .ticket-details {
        flex-direction: column;
        flex-wrap: wrap;
    }

    .pass-box1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .pass-box2 {
        flex-wrap: wrap;
        max-width: 100%;
        margin-bottom: 20px;
    }


    /****************************************
    Style for park-hours&map page
    *****************************************/

    .main-content {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .calendar {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .map-container {
        max-width: 100%;
    }

    .calendar-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    /****************************************
    * Style for Rides and Experiences page
    *****************************************/

    .sections {
        flex-direction: column;
        align-items: center;
    }

    .section-box {
        width: 80%;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .section-box h2 {
        font-size: 1.5rem;
        text-decoration: none;
    }

    /*******************************
    * Style for Contact Us page
    ********************************/

    .contact-form {
        padding: 20px;
    }

    .form-grid {
        grid-template-columns: 1fr;
    }

    /*******************************
    * Style for Ride page 
    ********************************/

    .ride-box .dining-box,
    .shop-box {
        width: 100%;
        
    }

    .learn-more {
        max-width: 100%;
    }

    .ticket-box2 {
        flex-wrap: wrap;
        max-width: 100%;
    }

}

@media screen and (max-width: 480px) {

/***********************************
* Style for park-hours&map page
************************************/

    .day p {
        font-size: 0.8rem;
    }

    .map-container .map {
        max-width: 300px;
    }

    /* Style for Contact Us page */
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .banner h1 {
        font-size: 1.5rem;
    }

    .form-container {
        padding: 15px;
    }

    button {
        font-size: 1rem;
    }

    .learn-more {
        max-width: 100%;
    }

    .learn-more:hover {
        background-color: #444;
    }

    .pass-box1 {
        width: 100%;
        margin-bottom: 20px;
    }

    .pass-box2 {
        flex-wrap: wrap;
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
    }

    .ticket-details {
        width: 100%;
        flex-wrap: wrap;
        max-width: 100%;
    }

}